<configuration>
  <system.webServer>    
    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

<iisnode 
    node_env="production" 
    nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" 
    debuggingEnabled="true"
    loggingEnabled="true"
    devErrorsEnabled="true"
    logDirectory="logs"
    />

  </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
        </system.webServer>
    </location>
</configuration>