.panel {
  margin: 0;
  background-image: url("/images/backgrounds/003.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-gray-7)
  );
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin: -1rem;
  padding: 1rem;
  min-height: 15rem;
}
.panel a {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
