.panel {
    margin: 0;
    background-color: light-dark(var(--mantine-color-blue-1), var(--mantine-color-blue-6));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    margin: 0 -1rem;
}
.panel .a {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}